/* GENERAL-video */

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: rgba(169,169,169,0.5);
}

iframe
{
    position:fixed;
    left: calc(50% - 325px);
    top: calc(50% - 200px);
}

#close-link
{
    position: fixed;
    right: 40px;
    top: 40px;
    text-decoration: none;
    color: #444;
    font-size: 50px;
    font-family: monospace;
}

#close-link:hover
{
    color: #02b8dd;
}

